Options +FollowSymLinks
RewriteEngine on

RewriteRule ^([a-zA-Z]{2,24})/$ index.php?page=$1

RewriteRule ^tienda/([a-zA-Z]{2,24})/$ index.php?page=tienda&pet=$1
RewriteRule ^tienda/([a-zA-Z]{2,24})/([a-zA-Z]{2,24})/$ index.php?page=tienda&pet=$1&category=$2

RewriteRule ^categorias/([a-zA-Z]{2,24})/$ index.php?page=categorias&category=$1

RewriteRule ^search/(([^&]*){2,24})/$ index.php?page=search&search=$1